.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

build
dist/assets/*.js
dist/assets/vendor/vendor.*
dist/assets/css/base.css
dist/assets/css/base.min.css
src/js/templates.js
misc/send.js

*.sublime*
