@import "reset.css"

body
	background-color #F6F6F6

.notfound
	text-align center
	font-size 2em
	margin-top 50px

#dash
	position absolute
	top 50%
	left 50%

.widget
	position absolute
	z-index 3
	margin 10px
	background-color #fff
	border-radius 3px
	border-left 1px solid #EFEFEF
	border-right 1px solid #EFEFEF
	border-bottom 1px solid #EFEFEF
	box-shadow 0 1px 0 0 rgba(0, 0, 0, 0.04)

	.text
		margin 15px
		overflow-y auto

		p
			margin-bottom 10px

	.image
		//margin 15px
		overflow hidden

		position relative
		left 50%
		top 50%
		transform translate(-50%, -50%)

		img
			max-width 99%
			max-height 99%
			display block

			position relative
			left 50%
			top 50%
			transform translate(-50%, -50%)

			border solid transparent 1px

	svg
		position absolute

	.legend
		margin-top 5px

		&.row
			float right

			li
				display inline-block
				margin-left 0
				white-space nowrap

				&:first-child
					span
						position relative
						bottom -1px
						font-weight 700
						font-size 16px

		&.col
			position absolute
			left 50%
			top 50%
			transform translate(0, -50%)

			ul
				text-align right
				white-space nowrap

		.total, .title
			color darken(#A5A5A5, 10)
			font-size 0.8em
			text-transform uppercase

		.value
			margin-right 10px
			margin-left 3px

			.key
				border 1px solid transparent
				display inline-block
				height 10px
				margin-left 5px
				width 10px

.layer
	.line
		fill none;
		stroke-width 2px

	.circle
		stroke #F7F7F7
		stroke-width 2

.axis
	line
		fill none
		stroke #A5A5A5
		stroke-width 1px
		stroke-opacity 0.7
		shape-rendering crispEdges
	text
		fill darken(#A5A5A5, 20)
		font 12px sans-serif

.d3-tip
	z-index 5
	line-height 1
	font-weight bold
	padding 12px
	background rgba(0, 0, 0, 0.8)
	color #fff
	border-radius 2px
	pointer-events none
	text-align center

	.key
		display inline-block
		height 10px
		margin-left 5px
		width 10px

.d3-tip:after
	box-sizing border-box
	display inline
	font-size 10px
	width 100%
	line-height 1
	color rgba(0, 0, 0, 0.8)
	position absolute
	pointer-events none

.d3-tip.n:after
	content "\25BC"
	margin -1px 0 0 0
	top 100%
	left 0
	text-align center
