@import "reset.css"

body
	background-color #F7F7F7

.notfound
	text-align center
	font-size 2em
	margin-top 50px

#dash
	position absolute
	top 50%
	left 50%

.widget
	position absolute
	background-color #ddd
	z-index 3
	margin 10px

	canvas
		position relative
		top 30px
		left 10px

	.legend
		position absolute
		top 5px
		left 5px

		.title
			margin 0.5em
			border-width 0 0 0 1em
			padding 0 0.3em


.layer rect
	z-index 4

.axis
	font 10px sans-serif

.axis path,
.axis line
	fill none
	stroke #000
	shape-rendering crispEdges


.y.axis line
	stroke darkgrey
	stroke-opacity 0.7
	shape-rendering crispEdges

.d3-tip
	z-index 5
	line-height 1
	font-weight bold
	padding 12px
	background rgba(0, 0, 0, 0.8)
	color #fff
	border-radius 2px
	pointer-events none

.d3-tip:after
	box-sizing border-box
	display inline
	font-size 10px
	width 100%
	line-height 1
	color rgba(0, 0, 0, 0.8)
	position absolute
	pointer-events none

.d3-tip.n:after
	content "\25BC"
	margin -1px 0 0 0
	top 100%
	left 0
	text-align center
